/* dcpd_styles.css */

#docker-stats-area table {
    margin-top: 20px;
	width: 100%;
    border-collapse: collapse;
}
#docker-stats-area td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

#docker-stats-area td:nth-child(1) { width: 25%; }
#docker-stats-area td:nth-child(2) { width: 15%; }
#docker-stats-area td:nth-child(3) { width: 25%; }
#docker-stats-area td:nth-child(4) { width: 15%; }
#docker-stats-area td:nth-child(5) { width: 20%; }

#docker-stats-area tr:first-child td {
    font-weight: bold;
    background-color: #f2f2f2;
}

/* Variables and Base Styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */

#top-container {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--dynamic-accent-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
}

h1 {
    text-align: center; /* Center the text inside the header */
    flex: 1; /* This will allow the header to take up all the available space between the two containers */
}

#location_temperature-container {
    justify-self: flex-start; /* Optional, since space-between will do this for you, but you can be explicit */
}

#datetime-container {
    justify-self: flex-end; /* Optional, since space-between will do this for you, but you can be explicit */
}

/* Main Layout and Containers */

.container {
    display: flex;
    flex: 1;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    position: relative;
}

.scrollable.content-section {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

/* Side Navigation Styles */

.navbar-icon {
    display: block;
    width: 100px;  /* Width of the icon */
    height: 100px; /* Height of the icon */
    margin: 10px auto;  /* Centers the icon */
    background-color: white;  /* White background for the box */
    border-radius: 10px;  /* Rounded corners */
    padding: 10px;  /* Space between the icon and the outer edge of the box */
    box-sizing: border-box;  /* Makes sure the total size including padding remains as defined above */
}

.sidenav {
    width: 20%;
    padding: 20px 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: var(--dynamic-background-color);
    color: var(--dynamic-text-color);
    font-weight: bold;
    font-size: var(--dynamic-font-size);
	font-family: var(--dynamic-font-name);
}

.sidenav h3 {
    padding: 0 20px;
}

.sidenav a {
    display: block;
    font-size: var(--dynamic-font-size);
    padding: 8px 16px;
    color: white;
    text-decoration: none;
}

.sidenav a:hover,
.sidenav a.active {
    background-color: var(--dynamic-accent-color);
    color: #ffffff;
}

/* Main Content Styles */

.main-content {
    position: relative;
    width: 80%;
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 20%;
    text-align: center;
}

.left-align {
    text-align: left;
}

/* Table Styles */

#ports_table thead,
#ports_table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.tablesorter-stickyHeader {
    position: fixed !important;
    top: 0 !important;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0;
    width: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

#docker_inspect_table th, 
#docker_inspect_table td {
    padding: 0 15px;
}

#docker_ps_table td {
    font-size: 13.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

#docker-stats-area, #host-networking-area, #info-log-area, #debug-log-area, #debug-info-area, #config-file-area, #stats-file-area {
    white-space: pre-wrap;
    text-align: left;
    font-size: var(--dynamic-font-size);
	font-family: var(--dynamic-font-name);
}

/* Widgets and Elements */

#datetime-container,
#location_temperature-container {
    padding: 8px 15px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: var(--dynamic-background-color);
    color: var(--dynamic-text-color);
    font-weight: bold;
    font-size: var(--dynamic-font-size);
	font-family: var(--dynamic-font-name);
    margin: 10px 0;
    flex-shrink: 0;
    position: relative;
}

#location_temperature-container {
    width: 200px;
}

#date-time, 
#time-zone, 
#location, 
#temperature,
#file-name, 
#last-updated,
.version-info,
.update-info,
.github-link {
    margin: 0;
    font-size: var(--dynamic-font-size);
	font-family: var(--dynamic-font-name);
	font-weight: bold;
    text-align: center;
}

/* Footer Styles */

.footer-version-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#rounded-footer-container {
    background-color: var(--dynamic-accent-color);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: none;
}

#footer-container {
    padding: 8px 15px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    align-items: center;
    max-width: 250px;
    background-color: var(--dynamic-background-color);
    color: var(--dynamic-text-color);
    font-weight: bold;
    font-size: var(--dynamic-font-size);
	font-family: var(--dynamic-font-name);
}

.version-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--dynamic-background-color);
    color: var(--dynamic-text-color);
    font-weight: bold;
    font-size: var(--dynamic-font-size);
	font-family: var(--dynamic-font-name);
    border-radius: 15px;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; /* This will create a gap between the children of .link-container */
    margin-top: 5px; /* Increase this value to add more space between rows */
}

.version-container .github-link {
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 0px;
}

.version-container .github-link:hover {
    background-color: #e6e6e6;
    color: #000000;
}

.version-container #update-info {
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 4px;
    color: #000000;
    margin-left: 0px;
}

/* Miscellaneous Styles */

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.sticky-header > * {
    margin: 0;
}

.sticky-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Horizontally center children */
    justify-content: space-between; /* Maximum vertical space between children */
    background-color: var(--dynamic-accent-color);
    border-radius: 15px;
    padding: 5px 10px;
    z-index: 1000;
}

.sticky-header h1 {
    margin-bottom: 10px; /* Spacing below the h1 */
}

.btn-group {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.btn-action,
.btn-refresh,
.btn-export {
    background-color: var(--dynamic-background-color);  /* Using the accent color for button background */
    color: var(--dynamic-text-color);  /* Using the text color for button text */
    border: none;
    padding: 10px 15px;  /* Adjust this to change the button size */
    border-radius: 5px;  /* Rounded corners for the buttons */
    cursor: pointer;     /* To show a hand cursor when hovering over the button */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
	font-weight: bold;
	font-size: 12px;
	flex: 1;
}

.btn-action:active,
.btn-refresh:active,
.btn-export:active {
    background-color: rgba(0, 0, 0, 0.1);  /* Adds a slight dark overlay */
    transform: scale(0.98);  /* Slightly reduces the size for a pressed effect */
    transition: none;  /* Disables transition to make the active effect instant */
}
